
body {

    max-width: 1152px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    padding: 0 100px;
    margin-left: 100px;
}

header {
    position: absolute;

    height: 80px;
    left: 0px;
    top: 0px;
}

header div img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 80px;
    top: 43px;
}

header div p {
    position: absolute;
    width: 154px;
    height: 33px;
    left: 118px;
    top: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 737px;
    height: 40px;
    left: 387px;
    top: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li {
    list-style: none;
}

header nav .active {
    position: static;
    width: 45px;
    height: 22px;
    left: 0px;
    top: 9px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #DAA520;

}

nav ul button {
   position: absolute;
    width: 137px;
    height: 40px;
    left: 600px;
    top: 0px;
    background: #F9BDBD;
    border: 1px solid #3E3F43;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #3E3F43;
    text-transform: uppercase;
}

#home {
    max-width: 1152px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media (max-width: 1152px){
    body{
        max-width: 970px;
    }
}
@media (max-width: 767px){
    body{
        max-width: none;
    }
}

.left-container p {
    position: absolute;
    width: 504px;
    height: 98px;
    left: 102px;
    top: 217px;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}

.left-container h1 {
    position: absolute;
    width: 504px;
    height: 196px;
    left: 102px;
    top: 331px;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    color: #313235;
}


.left-container button {
    position: absolute;
    width: 175px;
    height: 50px;
    left: 102px;
    top: 598px;
    background: #DAA520;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: 0;
}

.right-container .bg-home {
    position: absolute;
    width: 370px;
    height: 700px;
    left: 782px;
    top: 0px;
    background: #F9BDBD;
    z-index: -1;
    border-radius: 0 0 0 100px;
}

.right-container img {
    position: fixed;
    width: 468px;
    height: 477px;
    left: 55%;
    top: 165px;
    background: url(assets/img/table.png);
}

.right-container .flower {
    position: absolute;
width: 382px;
height: 382px;
left: 522px;
top: 400px;
}
