body {
    max-width: 1140px;
    max-height: 2315px;
    position: relative;
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    padding: 100% 0.7%;
    margin-left: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /*background-image: url(../assets/img/Group22.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y:  99.85%;*/
    
}

header {
    position: absolute;
    height: 80px;
    left: 0px;
    top: 0px;
}

header div img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 80px;
    top: 23px;
}

header div p {
    position: absolute;
    width: 154px;
    height: 33px;
    left: 118px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 737px;
    height: 40px;
    left: 387px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li {
    list-style: none;
}

header nav .active {
    position: static;
    width: 45px;
    height: 22px;
    left: 0px;
    top: 9px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #DAA520;

}

nav ul button {
    position: absolute;
    width: 137px;
    height: 40px;
    left: 600px;
    top: 0px;
    background: #F9BDBD;
    border: 1px solid #3E3F43;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #3E3F43;
    text-transform: uppercase;
    cursor: pointer;
}

#home {
    max-width: 1152px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.left-container p {
    position: absolute;
    width: 504px;
    height: 98px;
    left: 102px;
    top: 150px;
    font-weight: normal;
    font-size: 30px;
    line-height: 49px;
    color: #3E3F43;
}

.left-container h1 {
    position: absolute;
    width: 504px;
    height: 196px;
    left: 102px;
    top: 230px;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: #313235;
}


.left-container button {
    position: absolute;
    width: 175px;
    height: 50px;
    left: 102px;
    top: 470px;
    background: #DAA520;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.right-container .bg-home {
    position: absolute;
    width: 362px;
    height: 610px;
    left: 797.5px;
    top: 0px;
    background: #F9BDBD;
    z-index: -1;
    border-radius: 0 0 0 100px;
}

.right-container img {
    position: absolute;
    width: 430px;
    height: 450px;
    left: 56%;
    top: 130px;
    background: url(assets/img/table.png);
}

.right-container .flower {
    position: absolute;
    width: 282px;
    height: 282px;
    left: 52%;
    top: 300px;
    z-index: -1;
}

/*About us*/

#about-us {
    position: absolute;
    margin-top: -500px;
}

hr {
position: absolute;
width: 360px;
height: 0px;
margin-left: 340px;
margin-top: 35px;
color: black;
}

#about-us header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 0px;
}

h4{
    position: absolute;
    font-weight: 800;
    font-size: 36px;
    color: #3E3F43;
    width: 205px;
    height: 49px;
    margin-top: 9px;
    margin-left: 140px;
}

#about-us header h2 {
    color: rgba(34, 34, 34, 0.1);
    position: absolute;
    width: 379px;
    height: 98px;
    margin-left: 690px;
    margin-top: -15px;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: right;
}

#top-article {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#top-article h2 {
    position: absolute;
    margin-left: 0;
    margin-top: 230px;
    color: #3E3F43;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
}

#top-article p {
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 340px;   
}

.rectangle {
    position: relative;
    width: 278px;
    height: 388px;
    margin-left: -35px;
    margin-top: -570px;
    z-index: -1;
}

.figure img {
    z-index: -1;
    margin-top: 200px;
    margin-left: 138px;
    
}

.bg-flower {
    position: absolute;
    margin-top: 380px;
    z-index: -2;
    margin-left: -10px;
}

#bottom-article {
    margin-top: 350px;
    margin-left: 125px;
    display: grid;
    grid-template-columns: 735px auto;
}

#bottom-article div h2 {
    position: relative;
    margin-left: 10px;
    font-size: 30px;
    line-height: 49px;
}

#bottom-article div p {
    font-size: 20px;
    line-height: 33px;
    margin-left: 10px;
}

#bottom-article img {
    position: relative;
    width: 290px;
    height: 400px;
    margin-top: -100px;
}

/*How it works*/

#how-to-custom {
    position: absolute;
    margin-top: 650px;
}

#how-to-custom header {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    position: absolute;
    margin-left: 30px;
    margin-top: -8px;
}

#how-to-custom header  h2 {
    position: relative;
    left: 200px;
    font-size: 60px;
    top: -40px;
    color: rgba(34, 34, 34, 0.1);
    font-weight: 800;
    line-height: 49px;
    width: 100%;
}

#how-to-custom hr {
    width: 125px;
    position: absolute;
    height: 0px;
    margin-left: 360px;
    margin-top: 35px;
    color: black;
}

#how-to-custom header h4 {
    position: absolute;
    margin-left: 140px;
    font-weight: bold;
    font-size: 30px;
    color: rgba(62, 63, 67, 1);
}

#how-to-custom article ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 60px;
    margin-top: 150px;
}

li {
    list-style: none  ;
}

#how-to-custom button {
    background-color: rgba(218, 165, 32, 1);
    position: absolute;
    width: 220px;
    height: 47px;
    border-radius: 4px;
    color: white;
    border: 0;
    margin-left: 450px;
    margin-top: 70px;
    cursor: pointer;
}

/*What we have*/

#what-we-have {
    position: relative;
    margin-top: 1300px;
}

#what-we-have header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

#what-we-have article div {
    border-radius: 0 100px;
    width: 280px;
    height: 400px;
    margin-bottom: 30px;
    margin-left: 15%;
}

#what-we-have h4 {
    position: absolute;
    margin-left: 150px;
    font-weight: bold;
    text-transform: none;
    font-size: 30px;
    color: rgba(62, 63, 67, 1);
}

#what-we-have header h2 {
    color: rgba(34, 34, 34, 0.1);
    position: absolute;
    font-weight: 800;
    font-size: 72px;
    text-transform: uppercase;
    margin-left: 650px;
    margin-top: -20px;
}

#what-we-have hr {
    width: 300px;
    position: absolute;
    height: 0px;
    margin-left: 350px;
    margin-top: 35px;
    color: black;
}

#what-we-have article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 100px;
}

#what-we-have article div img {
    margin-top: 5%;
}

#what-we-have article div p {
    margin-left: 30px;
    font-weight: bold;
    font-size: 25px;
}

#what-we-have article div button {
    position: absolute;
    margin-top: 250px;
    box-sizing: border-box;
    border: 1px solid #3E3F43;
    width: 140px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    
}

.bg-color-pink, .bg-color-pink button {
    background-color: rgba(249, 189, 189, 1);
    left: 180px;
}

.bg-color-yellow, .bg-color-yellow button {
    background-color: rgba(247, 222, 166, 1);
    left: 560px;
}

.bg-color-lightblue, .bg-color-lightblue button {
    background-color: rgba(168, 220, 236, 1);
    right: 55px;
}

/*Testimony*/
#Testimony {
    position: absolute;
    margin-top: 150px;
}

#Testimony header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#Testimony header div h4 {
    font-size: 30px;
}

#Testimony h2 {
    font-size: 60px;
    margin-left: 700px;
    margin-top: -10px;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: rgba(34, 34, 34, 0.1);
    text-transform: uppercase;
}

#Testimony .photo {
    position: relative;
    margin-top: 100px;
    margin-left: 120px;
}

#Testimony .photone, .phototwo {
    border-radius: 80px 0;
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
}

#Testimony .phototwo {
    margin-left: 40px;
}

#Testimony article {
    display: grid;
    grid-template-columns: 70% 30%;
}

#Testimony article .comment-gallery {
    position: relative;
    border: 1px solid rgba(168, 220, 236, 1);
    width: 375px;
    height: 280px;
    border-radius: 0 30%;
    margin-top: 32%;
}

#Testimony article .comment-gallery img {
    position: relative;
    margin-top: 15%;
    margin-left: 5%;
}

#Testimony article .comment-gallery .client  {
    position: relative;
    margin-top: 0;
    margin-left: 5%;
    border-radius: 50px;
}

#Testimony article .comment-gallery .name{
    position: relative;
    margin-top: -12%;
    margin-left: 20%;
    
}

#Testimony article .comment-gallery p {
    position: relative;
    margin-left: 5%;
    margin-right: 2%;
    font-size: 14px;
}

#subscribe {
    position: relative;
    margin-top: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5%;
    /*background-image: url(../assets/img/Rectangle9.png);
    background-repeat: repeat-x;
    background-position: top;
    width: 1150px;
    height: 40%;
    margin-left: -0.8%;*/
}

#subscribe div p {
    position: relative;
    margin-left: 20%;
}

#subscribe div form {
    position: relative;
    margin-top: 6.5%;
}


footer {
    position: absolute;
    margin-left: 0;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 850px;
}

footer hr {
    position: absolute;
    margin-top: -1%;
    width: 750px;
    margin-left: 12%;
}

footer ul li  {
    padding-left: 40%;
    width: 60%;
    margin-top: 10%;
}

footer ul li h3 {
    position: relative;
    padding-left: 40%;
    margin-top: -40%;
}

.imag {
    position: relative;
    z-index: -1;
    margin-left: -1%;
    width: 102%;
    height: 350px;
}

a{
    text-decoration: none;
    color: black;
}

@media (max-width: 1280px){
    body {
        padding-left: 2%;
    }
    header div img {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 75px;
        top: 23px;
    }

    header div p {
        position: absolute;
        width: 144px;
        height: 28px;
        left: 105px;
        margin-top: 20px;
    }

    header nav ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 0px;
        position: absolute;
        width: 800px;
        height: 40px;
        left: 370px;
    }

    nav ul button {
        position: absolute;
        width: 130px;
        height: 40px;
        left: 620px;
        font-size: 14px;
    }

    .left-container p {
        left: 102px;
        top: 145px;
        font-size: 25px;
        line-height: 40px;
    }
    .left-container h1 {
        top: 225px;
        font-weight: bold;
        font-size: 65px;
        line-height: 75px;
    }
    
    
    .left-container button {
        width: 170px;
        height: 45px;
        left: 102px;
        top: 460px;
        font-size: 12px;
    }
    
    .right-container .bg-home {
        position: absolute;
        width: 325px;
        height: 610px;
        left: 789px;
        top: 0px;
        z-index: -1;
    }
    
    .right-container img {
        position: absolute;
        width: 430px;
        height: 450px;
        left: 55%;
        top: 130px;
        background: url(assets/img/table.png);
    }
    
    .right-container .flower {
        position: absolute;
        width: 282px;
        height: 282px;
        left: 51%;
        top: 300px;
        z-index: -1;
    }
    
    .right-container .bg-home {
        position: absolute;
        width: 358px;
        height: 610px;
        left: 797.5px;
        top: 0px;
        background: #F9BDBD;
        z-index: -1;
        border-radius: 0 0 0 100px;
    }
    #bottom-article img {
        position: relative;
        width: 288px;
        height: 400px;
        margin-top: -100px;
    }
    #subscribe {
        position: relative;
        margin-top: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5%;
    }
    .imag {
        position: relative;
        z-index: -1;
        height: 430px;
        margin-left: -1%;
        width: 102%;
    }


}

